@media screen and (min-width:768px) {
    .sections_title {
        font-size: 2.3rem;
    }

    /* HEADER */

    #menu_hamburguer {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: end;
        align-items: center;
        visibility: visible;
        position: relative;
        gap: 2rem;
        right: 1rem;
        top: 0;
        height: 3rem;
        background: none;
        transition: 0;
    }

    .menu #li {
        padding-top: 0px;
    }

    .menu a {
        font-size: 1.2rem;
        transition: .5s ease-in-out;
    }

    .menu a:hover {
        color: #29272d;
        transition: .5s ease-in-out;
    }

    #name_logo {
        display: flex;
    }


    /* Banner */
    #banner {
        height: 95vh;
        max-height: 800px;
    }

    .intro_banner {
        width: 50%;
        max-width: 50%;
        min-width: 40rem;
        padding: 2.5rem;
    }

    /* ABOUT */
    #about>.container {
        max-width: 60rem;
        padding: 1rem;
        margin: auto;
    }




    /* plans */

    .plans img {
        width: 5rem;
        max-width: 15rem;
        object-fit: cover;

    }

    /* specialties */
    .container {
        padding: 2rem 1.5rem;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .card {
        min-width: 20rem;
        width: 30%;
        margin: auto;
        margin-bottom: 1rem;

    }

    #specialties .card img {
        opacity: .8;
    }

    #specialties .card img:hover {
        opacity: 1;
    }

    #specialties .card:hover {
        transform: scale(1.1);
    }

    #modal {
        max-height: 95%;
    }

    /* TEAM */

    #team-container {
        max-width: 800px;
        flex-direction: row;

    }

    .employee {
        width: 33.33%;
        max-width: 350px;
        height: 20rem;
        padding: .3rem;
    }

    .employee img {
        width: 13rem;
        height: 13rem;
        object-fit: fill;

    }

    .employee-name img {
        text-align: center;
        /* padding: 1rem; */
    }

    .employee-name,
    .employee-role {
        padding: .5rem;
    }

    .employee-name {
        font-size: 1.5rem;

    }

    .comments {
        grid-template-columns: repeat(2, 50%);
        padding: 1.5rem;
    }

    .contact-box iframe {
        width: 65vw;
    }

}