@media screen and (min-width:767px) {
    #logo {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 30rem;
    }

    #text-logo {
        display: flex;
        color: #B58037 ;
        font-size: 1.6rem;
    }

    #btn-mobile {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: end;
        align-items: center;
        visibility: visible;
        position: relative;
        gap: 2rem;
        right: 1rem;
        top: 0;
        height: 3rem;
        background: none;
        transition: 0;
    }

    .menu #li {
        padding-top: 0px;
    }

    .menu a {
        font-size: 1.3rem;
    }

    .menu a:hover {
        color:var(--color-2);
    }

    /* ############# */
    .intro_banner {
        width: 50%;
        max-width: 50%;
        min-width: 40rem;
        padding: 2.5rem;
    }
    /* ---------------------------------------------- */
    .cards{
        padding: 2rem 1.5rem;
        max-width: 1200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }

    .card {
        min-width: 20rem;
        width: 30%;
        margin: auto;
        margin-bottom: 1rem;

    }

    #specialties .card img {
        opacity: .8;
    }

    #specialties .card img:hover {
        opacity: 1;
    }

    #specialties .card:hover {
        transform: scale(1.1);
    }


    /* TEAM */

    #team-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(10rem, 30rem));
        max-width: 900px;
        justify-content: center;
        margin: auto;

    }

    .employee {
        /* width: 30%; */
        max-width: 350px;
        height: auto;
        padding: .5rem;
    }

    .employee img {
        min-height: 10rem;


    }

    .employee-name img {
        text-align: center;
        /* padding: 1rem; */
    }

    .employee-name,
    .employee-role {
        padding: .5rem;
    }

    .employee-name {
        font-size: 1.5rem;

    }

    .comments {
        grid-template-columns: repeat(2, 45%);
        padding: 1.5rem;
    }

    .contact-box iframe {
        width: 15vw;
        margin-top: 10px;
    }

    .contacts{
        display: flex;
        justify-content:space-evenly;
        gap: 2rem;

    }

    .range {
        font-size: 2rem;
        padding:1rem 3rem ;
    }
    
    .range .fa-brands {
        font-size: 2rem;
    }

    #text-whats {
        background: linear-gradient(to bottom right, #018632 30%, #43ee82 100%);
        border-radius: 2rem 6rem ;
        color: white;
        font-weight: 600;
        padding: .8rem;
        font-size: 18px;
        display: block;
    }

}


@media screen and (min-width:767px) and (max-width:1023px) {
    .cards {
        grid-template-columns: repeat(2, minmax(5rem, 1fr));
    }
}


@media screen and (min-width:1024px) {
    .cards {
        max-width: 1300px;
        margin: auto;
        grid-template-columns: repeat(3, minmax(5rem, 1fr));
    }
}