/*############# GERAIS #############*/

:root {
    --color-1: #560E0B;
    --color-2: #CEB4B1;
    --color-3: #B58037;
    --color-4: #9E6C2B;
    --color-5: #8C8290;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    height: 100vh;
    /* overflow-x: hidden; */
}

/* body {
    background-color: #C6BFBF;
} */

img {
    width: 100%;
}


/* animation scroll */
[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}


/* titulo das secoes */
.title-section {
    padding: 2rem;
}

.title-section h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

}

.title-section .line {
    /* estilo da line*/
    display: block;
    border-radius: 5px;
    margin: 10px auto;
    height: 6px;
    background-color: black;
    max-width: 100px;
}

section {
    background-color: rgb(218, 218, 218);
}

/*############# HEADER #############*/


#logo img {
    width: 60px;
    border-radius: .3rem;
}

#text-logo {
    display: none;
}

.insta-icon i {
    color: rgb(189, 189, 195);
    /* border: 1px solid #444; */
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 2rem;
    text-align: center;
}

#header {
    display: flex;
    flex-direction: column;
}

.nav {
    padding: .3rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--color-1);
    width: 100%;
    z-index: 100;
}

.menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 4rem;
    line-height: 70px;
    right: 0;
    text-align: center;
    background: var(--color-1);
    height: 0;
    transition: .6s ease-in-out;
    z-index: 100;
    visibility: hidden;
    overflow-y: hidden;
}

.nav.active .menu {
    display: block;
    height: calc(100vh - 4rem);
    /* obs: se por img no logo tenho que alterar*/
    visibility: visible;
    overflow-y: auto;
    /* transition: all .3s; */
}

.nav.active #btn-mobile .one {
    transform: rotate(45deg) translate(7px, 7px);
    transition: all .5s;
}

.nav.active #btn-mobile .two {
    opacity: 0;
    transition: all .5s;
}

.nav.active #btn-mobile .three {
    transform: rotate(-45deg) translate(6px, -6px);
    transition: all .5s;
}

.menu a {
    font-size: 1.9rem;
    color: #B58037;
}

.menu #li {
    padding-top: 70px;
}

#btn-mobile {
    display: block;
    cursor: pointer;
    padding: 3px;
    width: 45px;

}

.one,
.two,
.three {
    width: 100%;
    background-color: rgb(203, 191, 191);
    height: 4px;
    display: flex;
    margin: 5px 0;

}

/*############# BANNER #############*/
.wrap-black {
    background-color: var(--color-1);
}

.banner {
    height: 100vh;
    max-height: 49rem;
    background-image: url(../assets/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .8;
}

.intro_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.9);
    background: rgba(211, 210, 210, 0.308);
    color: rgb(61, 60, 60);
    box-shadow: 0 4px 30px rgba(150, 149, 149, 0.2);
    z-index: 1;
    font-size: 1.4rem;
    text-align: center;
}

.intro_banner h2 {
    padding: 1.8rem 0;
    font-size: 2.5rem;
}

/* ABOUT */
/*############# SOBRE #############*/
#about-area {
    padding: 2rem 0rem;
    background-color: var(--color-2);
    font-size: 1.2rem;
}

#about-area p {
    max-width: 60rem;
    margin: auto;
    padding: .3rem .5rem;
    line-height: 1.6rem;
}

.plans {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
}

.plans img {
    width: 18%;
    max-width: 5rem;
    height: 3rem;
    object-fit: contain;
}

/* ################################### */

#products {
    padding: 1rem 0;
    /* background-color: rgb(255, 255, 255); */
}

.auxiliary-text {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

.card {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: .5rem;
}

.card img {
    border-radius: .5rem .5rem 0 0;
}

.title_card {
    text-transform: capitalize;
}

.card_subtitle {
    background-color: #444;
    padding: .3rem;
    margin-top: -5px;
    text-align: center;
    color: white;
    border-radius: 0 0 .5rem .5rem;
}

.card:hover {
    -webkit-box-shadow: -1px 1px #3e3e3ef9, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
    -webkit-transform: translateX(8px) translateY(-8px);
    transform: translateX(8px) translateY(-8px);
}


/* ----------------------------------------------
 * Generated by Animista on 2023-1-16 7:33:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-bl
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-bl {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {}
}

@keyframes shadow-pop-bl {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}


/* ################################# */
/* ####### MODAL ############# */
#fade {
    height: 100%;
    width: 100%;
    background-color: #3b3a3a87;
    backdrop-filter: blur(80px);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
}

#modal {
    background-color: var(--color-1);
    max-height: 80%;
    height: auto;
    width: 800px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    padding: 1.2rem;
    z-index: 10;
    overflow-x: auto;
    margin-top: 1rem;
}

#fade, #modal {
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}


#modal.active {
    top: 0;
}

#fade.active, #modal.active {
    opacity: 0;
    pointer-events: none;
}

.modal-content {
    padding: .3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    position: relative;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.close-button {
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: .5rem;
    padding: .6rem;
    background-color: var(--color-2);
    color: var(--color-1);
    border: none;
    transition: .5s ease-out;
    text-align: center;

}

.close-button i {
    margin-left: .5rem;

}

.modal-body {
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;
    color: var(--color-3);
}

.img-container {
    height: 12rem;
    width: 100%;
    margin: auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    margin-top: .5rem;
}

.info-card {
    width: 100%;

}

#desc {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

#title {
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: .5rem 0;
    color: var(--color-3);
}

.modal-footer {
    position: sticky;
    bottom: -1rem;
}

.container-buttons {
    margin-top: 1rem;
}

.container-buttons button {
    padding: .7rem;
    background-color: #f3b763;
    border: none;
    border-radius: .3rem;
    font-size: .9rem;
    text-transform: uppercase;
    transition: .5s;
}

.container-buttons button:hover {
    background-color: #d18316;
    transition: .5s;
    color: white;
}

/* TEAM */
#team {
    width: 100%;
    /* margin-bottom: 1rem; */
    background-color: var(--color-5);
    padding: 1rem ;
    padding-bottom: 2rem;
}

#team-container {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(10rem, 25rem));
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.employee {
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    height: auto;
    padding: .5rem;
}

.employee-name,
.employee-role {
    text-align: center;
    padding: 1rem;
}

.employee-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: rgb(24, 24, 24);
}

.employee img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;

}

.employee-role {
    font-size: 1.2rem;
}

.comments {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.comment {
    background-color: var(--color-4);
    min-height: 15rem;
    padding: 1rem;
    border-radius: .5rem;

}

#avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


#avatar img {
    width: 100%;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-header i {
    font-size: 2rem;
}

.stars {
    padding: .5rem;

}

.stars .fa-star {
    color: rgb(210, 210, 6);
    font-size: 1rem;
}

.comment-body {
    padding: .5rem;
    font-size: 1.2rem;
}

.comment-footer {
    padding: .5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

/* ##################### */
#footer {
    padding-top: 50px;
    background-color: var(--color-2);

}

.range {
    padding: 1rem;
    background-color: var(--color-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.5rem;
    color: var(--color-1);
}

.range .fa-brands {
    font-size: 2rem;
    margin-right: .5rem;
    color: var(--color-1);
}



iframe {

    max-width: 90vw;
    width: 500px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
}

.contact-box:nth-child(1) {
    padding: 1.5rem;
}

.contact-box i {
    color: rgb(3, 3, 129);
    border: 1px solid #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-box iframe {
    width: 90vw;
    margin-bottom: 30px;
    margin-top: -25px;
}

.contact-box p {
    margin-bottom: 7px;
    font-size: 18px;
    text-align: center;
}

.contact-title {
    color: blue;
    font-size: 20px;
    margin-bottom: 30px;
}

.contact-title i {
    margin-right: .3rem;
}

.contact-box .text-dark {
    color: #444;
}

.copy-area {
    background: linear-gradient(to left bottom, rgb(11, 12, 21) 30%, rgba(1, 24, 58, 0.72) 100%);
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 50px;
}

.copy-area a {
    color: rgb(82, 67, 251);
    font-size: 20px;

}

/* botao whatsap */
#whatsap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 20px;
    position: fixed;
    bottom: 10px;
    gap: 5px;
    border-radius: 50px;
    box-sizing: border-box;
    z-index: 999;
    box-sizing: border-box;

}
#text-whats {
    display: none;
}

#btn-whats img {
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right, #018632 30%, #1ffb6f 100%);
    border-radius: 50px;
    padding: 10px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4AD2FF #E9EBE4;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #E9EBE4;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-1);
}


@media screen and (max-width:290px) {
    .intro_banner h2 {
        padding: 1.8rem 0;
        font-size: 2rem;
    }
    .range {
        font-size: 1rem;
    }
    
    .range .fa-brands {
        font-size: 1rem;
    }
}